streamlit
langchain
langchain-chroma
chromadb
sentence-transformers
google-generativeai
google-cloud-speech
sarvamai
pydub
moviepy
opencv-python
streamlit-audiorecorder
python-dotenv
pysqlite3-binary
